@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin: auto;
    display: block;
}

header {
    background-color: darkslategrey;
    color: white;
    padding: 12px;
    
}

main {



}

footer {



}