body {
  font-family: "Roboto", sans-serif;
  max-width: 1366px;
  margin: auto;
  display: block;
  letter-spacing: 0.04em;
}

header {
  background-color: darkslategrey;
  color: white;
  padding: 12px;

}

h1 {
  font-size: 1.1rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

h2 {
  font-weight: lighter; 
  color: cadetblue;
  margin-bottom: -5px;
  text-align: center;
  font-size: 1.3em;
  padding-top: 20px;
}

h3 {
  color: slategrey;
  font-size: 1.1em;
}

img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main {
  display: grid;
  grid-template-columns: 1fr;
}

section {
  text-align: center;
  margin: 1rem;
  border: .25px solid lightgray;
  padding-left: 20px;
  padding-right: 20px;
}
section:nth-child(3) {
  grid-column: span 1;
}
main p {
  text-align: left;
  line-height: 1.3em;
  word-spacing: .1em;
  font-size: .9em;
}

main a {
  color: white;
}

main a:link {
  border: 1px solid;
  border-color: rgb(240, 155, 155);
  background-color: rgb(240, 155, 155);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
}

footer {
  background-color: darkslategrey;
  color: white;
  text-align: center;
  font-size: small;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 8px;
  word-spacing: 0.25em;
}

#byuilink {
  color: white;
}

#lastmod {
  font-size: 0.75em;
}
