@media only screen and (min-width: 64em) {

.navigation {
    display: flex;
    padding: 15px;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation li a {
    color: white;
    font-size: 1.5rem;
  }
  .navigation li:first-child {
    display: none;
  }

/***** Homepage *****/

.welcome {
  font-size: 1.5em;
  max-width: 900px;
}

.testimonials {
  grid-template-columns: 1fr 1fr 1fr;
 }
  /***** Adventures ****/

  .adventures {
    grid-template-columns: 1fr 1fr 1fr;
   }
}

