@media only screen and (min-width: 32.5em) {
.navigation {
    display: flex;
    padding: 10px;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation li a {
    color: white;
    font-size: 1.3rem;
  }

  .navigation li:first-child {
    display: none;
  }


/****** Homepage ******/

.welcome {
  font-size: 1.25em;
  max-width: 700px;
}

.welcome h1 {
  font-size: 3em;
}

.welcome h2 {
  font-size: 2em;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
 }

/****** Adventures Page ******/

.adventures {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 30px;
}

/***** River Guides Page *****/

.cards {
  grid-template-columns: 1fr 1fr;
}

  /***** Reservations Page ******/

      /* Table */

  table {
    margin-top: 50px;
    max-width: 800px; 
    margin-bottom: 50px;
      }

  table,
  th,
  td {
    padding: 15px;
    font-size: 1.15em;
  }

  /* Contact Page */

  iframe {
    margin: auto;
    float: left;
    padding-bottom: 30px;
    padding-top: 20px;
  }

}