body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}
header {
    min-height: 300px;
    padding-top: 25px;
}

.headerlogo {
    text-align: center;
    margin: 0px auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/****** Social Icons *******/

.social li {
    display: inline-block;
    float: right;
    max-height: .5rem;
}

/****** Navigation *******/

nav ul {
    list-style: none;
    background-color: #1a4d4b;
    text-align: center;
    padding: 2px;
    margin: 0 auto;
 
  }
  nav li {
    display: none;
    flex: 1 1 100%;
  }

  nav li a {
    display: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
  }
  
  .navigation li:first-child {
    display: block;
  }
  
  .navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-decoration: none;
  }
  .navigation a:hover {
    color: #9eb768;
  }
  
  .responsive li {
    display: block;
  }
  
  .navigation .active {
    color: #9eb768;
    font-weight: bolder;
  }
/*** Main ***/

h1 {
  color: #9eb768;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
    }
h2 {
 color: #5d7835;
 font-size: 2rem;
 font-family: 'Bebas Neue', cursive;
}    
  /***** Homepage Content *****/

.homeimg {
  max-width: 100%;
}

.welcome {
  font-size: 1em;
  line-height: 1.5em;
  color: #1a4d4b;
  max-width: 500px;
  text-align: center;
  padding: 15px;
  margin: auto;
}

.weather-summary {
  padding-bottom: 20px;
  line-height: 1.5em;
  font-size: 1em;
  padding-top: 5px;
  text-align: center;
  background-color: #147c84;
  color: white;
  margin-bottom: -30px;
}


/****** Adventures Page ******/

.book {
  background-color: #1a4d4b;
  max-width: 200px;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  text-align: center;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book a:link {
  color: #9eb768;
  text-decoration: none;
}

.book a:visited {
  color: #9eb768;
}

.book a:hover {
  color: #9eb768
}

.book a:active {
  color: white;
}
.adventures h1 {
  text-align: center;
}

.adventures h2 {
  text-align: center;
}
.adventures p {
  line-height: 1.5em;
  padding: 15px;
}

.adventures img {
  max-width: 485px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/****** River Guides Page ******/

.riverguidebios h1 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:30px;
  padding:1rem;
  
}

.cards h2 {
  text-align: center;
}

.cards p {
  font-size: 1.1em;
  line-height: 1.5em;
  max-width: 400px;
  padding-left: 50px;
}
.cards img {
  width: 60%;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1rem;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  /***** Reservations Page ******/

      /* Table */

  table {
    max-width: 600px; 
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  thead tr th {
    text-align: center;
    background-color: #147c84;
    color: white;
    font-size: 1.5em;
  
  }

  thead tr th strong {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .1rem;
    font-size: 1.5em;
  }

  thead {
    background-color: #1a4d4b;

  }
  tr {
    text-align: center;

  }
  table,
  th,
  td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
  }
  th {
    color: white;
  }
  table tr:nth-child(2) {
      background-color: #9eb768;
      color:white;
    }
  
  table tr:nth-child(1) {
    background-color: #147c84;
    color: white;
   
  }
  table tr:nth-child(3) {
      background-color: #1a4d4b;
      color: white;
    }

  .trips {
      background-color: #5d7835;
      color: white;
      font-size: 1em;
      }
    
  
      /* Form */

 .form h1 {
    text-align: center;
      }

 fieldset {
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
  }

 legend {
    margin: 0 1rem;
    padding 0 0.5rem;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #1a4d4b;
  }

fieldset label.top,
label.sbs,
.form div {
  display: block;
  padding-top: 0.75rem;
  font-size: 1rem;
  margin: 0.5rem;
  padding-right: 1rem;
}

input {
  padding: 10px;
  display: block;
  width: 100%;
  margin-top: 10px;
}

label {
  padding-bottom: 10px;
  font-size: 2rem;
}

.submitButton, .thanks button{
  border: none;
  background-color: #147c84;
  color: white;
  padding: 0.75rem 1rem;
  max-width: 200px;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75rem;
  font-weight: bolder;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

textarea {
  height: 200px;
  display: block;
  width: 100%;
  margin-top: 10px;
}
  /* Thanks */

  .thanks {
    text-align: center;
    color: #1a4d4b;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /***** Contact *****/

  .mapcontact h1 {
    text-align: center;
  }

  .mapcontact p {
    color: #1a4d4b;
    font-size: 1.25rem;
    font-weight: bolder;
    text-align: center;
  }

iframe {
  margin: auto;
  padding-bottom: 30px;
  padding-top: 20px;
  max-width: 99%;
  padding-right: 10px;
}

  .contactform fieldset {
    max-width: 500px;
    min-width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

 .contactform legend {
    margin: 0 1rem;
    padding 0 0.5rem;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #1a4d4b;
  }

.contactform fieldset label.top,
label.sbs,
.form div {
  display: block;
  padding-top: 0.75rem;
  font-size: 1rem;
  margin: 0.5rem;
  padding-right: 1rem;
}

.contactform input {
  padding: 10px;
  display: block;
  width: 100%;
  margin-top: 10px;
}

.contactform label {
  padding-bottom: 10px;
  font-size: 2rem;
}

.contactform .submitButton, .thanks button{
  border: none;
  background-color: #147c84;
  color: white;
  padding: 0.75rem 1rem;
  max-width: 200px;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75rem;
  font-weight: bolder;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.contactform textarea {
  height: 200px;
  display: block;
  width: 100%;
  margin-top: 10px;
}

/****** River Guides *****/

.riverguideheader h2 {
  text-align: center;
}

/* Footer */



  footer {
    background-color: #1a4d4b;
    color: white;
    text-align: center;
    font-size: small;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    word-spacing: 0.25em;
    line-height: 20px;
  }

  footer a:link {
    color: #9eb768;
  }

  footer a:visited {
    color: #147c84;
  }

  footer a:hover {
    color: white;
  }