@media only screen and (min-width: 37.5em) {
  .weatherday {
    font-size: 50px;
  }
  .slogan {
    font-size: 1.3rem;
  }
  .headerlogo {
    max-width: 200px;
  }
  .navigation {
    display: flex;
    padding: 10px;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation li a {
    color: white;
    font-size: 1.3rem;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  .weather-summary {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 20px;
    left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: flex-start;
  }
 
  .forecastcontainer {
    background-color: lightgray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .forecastcontainer h3 {
    font-size: 1.5em;
  }

  .forecasttable {
    border: 1px solid darkgray;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .author {
    display: none;
  }
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .articleimage {
    grid-column: 3;
    grid-row: 1/3;
    align-self: center;
    margin-top: 5rem;
  }
  article div {
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: center;
  }
  .article p {
    width: 500px;
  }
article h2 {
    padding: 10px;
}
  .contactcontainer {
    grid-template-rows: 75px 125px;

  }

  .contact1 {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-self: start;
  }
  .contact2 {
    grid-column: 2;
    grid-row: 2;
  }
  .prestonmap {
    grid-column: 1;
    grid-row: 1/3;
  }
}
