body {
  font-family: "Source Sans Pro", sans-serif;
  max-width: 1200px;
  margin: auto;
}
/* Header*/

header {
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head {
  display: flex;
  flex-direction: column;
}

.headerlogo {
  max-width: 150px;
  padding-right: 20px;
  margin-right: 20px;
}

.slogan {
  text-align: center;
  margin-top: -1.5rem;
}

/* Navigation */

.navigation {
  list-style: none;
  background-color: #013056;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
  max-width: 1200px;
}

.nav li a {
  display: none;
  text-align: left;
  text-decoration: none;
  font-size: 1.7rem;
  color: white;
  font-weight: 900;
}

.navigation li:first-child {
  display: block;
}

.navigation a {
  display: block;
  color: #fff;
  padding: 0.75rem;
  text-decoration: none;
}
.navigation a:hover {
  color: #008ee5;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.responsive li {
  display: block;
}
/* Main */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
main h2 {
  margin-top: -5px;
}
main p,
main li {
  line-height: 1.1em;
}
.author {
  font-size: 14px;
}
h1 {
  font-weight: bold;
  color: #015aa3;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  color: #015aa3;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #007ee5;
  font-size: 1.1em;
  text-align: center;
}

h4 {
  color: white;
  font-size: 1.1em;
  text-align: center;
}

.weather-summary {
  background-color: black;
  opacity: 0.8;
  top: 20px;
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-content: flex-start;
  position: absolute;
  min-width: 200px;
}

.weather-summary p {
  color: white;
}
.container {
  position: relative;
}

img.domain,
img.colorscheme {
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.prestonhero {
  max-width: 100%;
}

.forecastcontainer {
  background-color: lightgray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

.forecastcontainer h3 {
  font-size: 1.5em;
}

.forecasttable {
  border: 1px solid darkgray;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
article {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
}
.articleimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.articlebox {
  position: relative;
}
article h2 {
  text-align: left;
  padding-top: 40px;
}
.contactcontainer {
  background-color: lightgray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: -40px;
  margin-left: -10px;
  margin-right: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.prestonmap {
  margin: auto;
  max-width: 100%;
  grid-column: span 2;
}
footer {
  background-color: #013056;
  color: white;
  text-align: center;
  font-size: small;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 8px;
  word-spacing: 0.25em;
  line-height: 20px;
}
