body {
  font-family: Ubuntu, sans-serif;
  max-width: 300px;
  box-shadow: 10px 10px 10px #628ca6;
}
thead tr th {
  text-align: center;
  background-color: #7fb9c2;
  color: black;
  font-size: 1.5em;
}
tr {
  text-align: center;
}
table,
th,
td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 8px;
}
th {
  color: white;
}
table tr:nth-child(even) {
  background-color: #e7ffed;
}

table tr:nth-child(odd) {
  background-color: #e7f0ed;
}

.darkbox {
  background-color: #628ca6;
  color: white;
  font-size: 1em;
}
tfoot td {
  background-color: #7fb9c2;
  font-size: 0.75em;
}
