body {
  font-family: "Source Sans Pro", sans-serif;

  margin: auto;
}

#popup {
  background-color: #ff0;
  color: #013056;
  margin: 0;
  padding: 0.25rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4em;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/* Header*/

header {
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: -10px;
}
.head {
  display: flex;
  flex-direction: column;
}

.headerlogo {
  max-width: 150px;
  padding-right: 20px;
  margin-right: 20px;
}

.slogan {
  text-align: center;
  margin-top: -1.5rem;
}

/* Navigation */

nav ul {
  list-style: none;
  background-color: #013056;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
}
nav li {
  display: none;
  flex: 1 1 100%;
}
nav li a {
  display: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.navigation li:first-child {
  display: block;
}

.navigation a {
  display: block;
  color: #fff;
  padding: 0.75rem;
  text-decoration: none;
}
.navigation a:hover {
  color: #008ee5;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.responsive li {
  display: block;
}

.navigation .active {
  color: #008ee5;
  font-weight: bolder;
}
/* Main */

.container {
  position: relative;
  margin-bottom: 0.4em;
}

.container img {
  margin: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}
main h2 {
  margin-top: -5px;
}
main p,
main li {
  line-height: 1.1em;
}
.author {
  font-size: 14px;
}
h1 {
  font-weight: bold;
  color: #015aa3;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  color: #015aa3;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #007ee5;
  font-size: 1.1em;
  text-align: center;
}

h4 {
  color: white;
  font-size: 1.1em;
  text-align: center;
}

.weather-summary {
  background-color: black;
  opacity: 0.8;
  top: 20px;
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute;
  min-width: 200px;
  line-height: 1.6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather-summary p {
  color: white;
  margin: 0;
  text-align: left;
}
.weather-summary h4 {
  grid-row: 1;
  grid-column: 1/3;
  font-size: 1.25rem;
}
.weather-summary span {
  text-align: right;
  color: white;
  font-size: 1rem;
  margin: 0;
}
#current {
  grid-row: 2;
  grid-column: 2;
}
#temp {
  grid-row: 3;
  grid-column: 2;
}
#chill {
  grid-row: 4;
  grid-column: 2;
}
#humidity {
  grid-row: 5;
  grid-column: 2;
}
#wind {
  grid-row: 6;
  grid-column: 2;
}

.container {
  position: relative;
}

img.domain,
img.colorscheme {
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.prestonhero {
  max-width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forecastcontainer {
  background-color: #e6f3f7;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forecastcontainer h3 {
  font-size: 1.5em;
}

.forecasttable {
  border: 1px solid #f0f0f0;
  background-color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.day {
  font-size: 1.2em;
  color: #015aa3;
  padding-top: 10px;
}
.dayweather img {
  max-width: 70px;
  padding-top: 15px;
  align-content: center;
}
.dayweather p {
  color: #008ee5;
  font-size: large;
}

article {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  padding-bottom: 15px;
}
.articleimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.articlebox {
  position: relative;
  padding-bottom: 30px;
}
article h2 {
  text-align: left;
  padding-top: 40px;
}
article p {
  line-height: 1.3em;
  padding-right: 20px;
  margin-left: 10px;
}

.events {
  background-color: #e6f3f7;
  padding-top: 15px;
  padding-bottom: 25px;
  position: relative;
  line-height: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.events h3 {
  font-size: 1.5em;
}

.events h4 {
  color: #013056;
  background-color: white;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactcontainer {
  background-color: #e6f3f7;
  color: #013056;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: -40px;
  margin-left: -10px;
  margin-right: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact1 {
  grid-column: 2;
  grid-row: 1;
}
.contact1 h3 {
  text-align: left;
}
.contact1 p {
  line-height: 0.5em;
}
.contact2 {
  grid-column: 2;
  grid-row: 2;
  margin-top: 80px;
  align-content: center;
}
.icon {
  max-width: 10%;
  border-radius: 10%;
}

.prestonmap {
  margin: auto;
  max-width: 100%;
  grid-column: span 2;
  display: none;
  border: 1 solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
  background-color: #013056;
  color: white;
  text-align: center;
  font-size: small;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 8px;
  word-spacing: 0.25em;
  line-height: 20px;
}

.footerlinks a:link {
  color: white;
}

.footerlinks a:visited {
  color: white;
}
