body {
  font-family: "Source Sans Pro", sans-serif;
  max-width: 1200px;
  margin: auto;
}

header {
  color: white;
  margin: 10px;
}

nav {
  background-color: #013056;
  text-align: center;
  padding: 2px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 3px;
}
nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  padding: 24px;
}
nav a:hover {
  color: #008ee5;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

main p, main li {
  line-height: 1.1em;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #015aa3;
  font-size: 1.6em;
}

h2 {
  color: #007ee5;
  font-size: 1.3em;
}

h3 {
    color: #015aa3;
  font-size: 1.1em;
}

img.domain, img.colorscheme {
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

img.logo, img.headerlogo {
    width: 250px;
}

img.align-center {
  display: block;
  margin: 0px auto;
}

footer {
  background-color: #013056;
  color: white;
  text-align: center;
  font-size: small;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 8px;
  word-spacing: 0.25em;
}

#byuilink {
  color: white;
}

#lastmod {
  font-size: 0.75em;
}
